version: "3.9"

services:  
  db:
    image: postgres:16-alpine
    container_name: mse_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: movies
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: mse_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: ./server
    container_name: mse_api
    networks:
      - web
      - default
    env_file:
      - ./server/.env
    ports:
      - "4000:4000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  client:
    build: ./client
    container_name: mse_client
    networks:
      - web
      - default
    ports:
      - "8080:80"
    depends_on:
      - api

volumes:
  pgdata:

networks:
  web:
    external: true
